{% extends "base.htm" %}
{% block title %}finish account{% endblock %}
{% block container %}
<h2>Finish account</h2>
<hr>
<div class="alert alert-warning">You've verified your email. Now finish setting up your account by adding a password</div>
<form method="post" action="{{url_for('oflex.blueprint.post_finish')}}">
  <input type="hidden" name="verification_code" value="{{verification_code}}">
  <label class="mt-3">
    Email
    <input type="email" class="form-control" placeholder="email" name="email" value="{{email}}" disabled>
  </label>
  <br>
  <label class="mt-3">Password <input type="password" class="form-control" placeholder="password" name="password" required></label>
  <br>
  <button class="btn btn-primary mt-3">Finish account</button>
</form>
{% endblock container %}
